/*Colors
01161E blackish
875C74 purpleish
388697 teal
D6FFEF mint
E4B1AB pink
*/

body {
    color: #01161E;
    font-size: 1.25em;
}

h1 {
    font-size: 2em;
}
h2 {
    font-size: 1.5em;
}

header {
    margin: 1rem 4rem;
    padding: 2rem;
}

section {
    margin: 1rem 4rem;
    background-color: #D6FFEF;
    padding: 2rem;
}

a {
    text-decoration: none;
    color:#388697;
}
a:hover {
    color: #875C74;
}

.question {
    color: #875C74;
}
footer {
    background-color: #388697;
    color: white;
    padding: 1rem;
    text-align: center;
}
code {
    background-color: lightgrey;
}

/*week 4 team activity*/
.tictac {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    justify-content: center;
    text-align: center;
}
.box {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    font-size: 4.5em;
    margin: auto;
    
}
.row1 {
    border-top: none;
}
.col3 {
    border-right: none;
}
.col1 {
    border-left: none;
}
.row3 {
    border-bottom: none;
}

.circle {
    padding: 10px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: black;
}
.x {
    padding: 10px;
    width: 70px;
    height: 70px;
    background-color: black;
}

.example{
    font-family: "Courier New", monospace;
    background-color: #E4B1AB;
    padding: 10px;
}
