@media only screen and (min-width: 1100px) {

    /*Selector Style*/

    .dropdown-content {
        display: grid;
        grid-template-columns: 20% auto 15%;
        margin: 3em auto 6em auto;
        align-items: end; 
        justify-items: center;
    }
    .dropdown-content label {
        text-align: center;
        margin: 0;
    }
    .dropdown-content input {
        height: 25px;
        width: 95%;
    }
    .dropdown button {
        grid-column: 3 / 4;
        grid-row: 1 / 2;
        margin: 0;
    }
    .openListContainer {
        grid-column: 2 / 3;
        width: 100%;
    }

    /*Pokemon customize screen/modal*/

    .openModal {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        max-width: 65%;
        margin: -3em auto 3em auto;
        height: 100vh;
    }
    .modal {
        display: none;
    }
    .title-wrap {
        font-size: 1.5em;
        grid-column: 1 / 3;
    }
    .title-wrap img {
        max-width: 152px;
    }
    .display-group {
        grid-column: 1 / 4;
    }
    .modalButtons {
        grid-column: 1 / 4;
    }

    /*Team Display Style*/

    .display{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }


}