.pokeball-image {
    width: 15px;
    height: 15px;
}
#pokelistContainer {
    list-style: none;
    border: 1px solid lightgrey;
    width: 30%;
    text-align: center;
    margin: 0;
    padding: 0;
}
.selection li:hover {
    background-color: lightgrey;
    box-shadow: 2px 2px 5px darkgrey;
}
.show {
    display: block;
}
.listContainer {
    max-height: 500px;
    overflow: auto;
}
