body {
    background-image: url("outerspace.jpg");
    background-color: black;
    background-size: 1200px;
    position: relative;
   }

   .starwars {
       text-align: center;
       perspective: 400px;
       font-size: 1.5em;
       color: #feda4a;
       letter-spacing: 3px;
       line-height: 80%;
       
   }
   p{
       padding: 10px;
   }

button {
    border: 1px solid #feda4a;
    background-color: black;
    color: white;
    font-size: 1.25em;
    width: 100px;
    height: 50px;
    cursor: pointer;
}
button:disabled {
    display: none;
}
#previous {
    position: absolute;
top: 45%;
left: 0;
}
#next {
    position: absolute;
    top: 45%;
    right: 0;
}